# https://clangd.llvm.org/config

InlayHints:
  BlockEnd: true
Hover:
  ShowAKA: true

CompileFlags:
  Add: [
    -xc,
    -std=c23,
    -Wall,
    -Wextra,
    -Iinclude,
    -DTLDS_IMPLEMENTATION=1,
    -DTINYLIB_PREPROCESSOR_CLEX_IMPL=1,
    -DTINYLIB_MEMORY_POOL_IMPL=1,
    -DSTB_C_LEXER_IMPLEMENTATION=1
  ]
  Compiler: clang

